# Node.js dependencies
node_modules/

# Output directories
dist/
build/
out/

# macOS file system metadata
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Electron-related files and directories
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
electron-builder-debug.yml
